:root {
  --primaryColor: #01126d;
  --secondaryColor: #00c4ff;
  --otherColor: #7118ef;
}

html {
  scroll-behavior: smooth;
}

/* navbar code  */
.navbar {
  background-color: var(--primaryColor);
}

.navbar a {
  color: #fff !important;
  margin: 0 10px;
}

.sButton {
  border: 2px solid var(--secondaryColor) !important;
  color: var(--secondaryColor) !important;
}

.pButton {
  background-color: var(--secondaryColor) !important;
  color: #fff !important;
}

/* hero section  */
#hero {
  background-color: var(--primaryColor);
  color: #fff;
}
/* heading  */

.heading {
  text-align: center;
  margin-top: 3rem;
}

.sub-heading {
  text-align: center;
  margin-bottom: 2rem;
}

/* services  */

#services .card i {
  margin: 1rem 0;
}

.idesign-icon {
  color: var(--secondaryColor);
}
.iprint-icon {
  color: var(--primaryColor);
}
.ibrand-icon {
  color: var(--otherColor);
}

/* #about  */
#about {
  background-color: var(--primaryColor);
  color: #fff;
}

/* what i do */
#what-i-do .sub-heading {
  color: rgba(0, 0, 0, 0.719);
}
#what-i-do ul li {
  background-color: var(--primaryColor);
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  border-left: 10px solid var(--secondaryColor);
  border-radius: 3px;
  transition: all 0.5s;
  font-weight: bold;
  color: #fff;
}

#what-i-do ul li:hover {
  background-color: #00c4ff;
}

/* cta  */
.cta {
  background-color: var(--primaryColor);
  color: #fff;
}

.cta .pButton {
  padding: 0.5rem 3.5rem;
  margin: 0 1rem;
}
.cta .sButton {
  padding: 0.5rem 3.5rem;
}

/* prices  */

#plans {
  background-color: var(--primaryColor);
}

#plans .heading,
.sub-heading {
  color: #fff;
}

.cta-light {
  background-color: #fff;
  color: black;
}

.cta-light .pButton {
  background-color: var(--primaryColor) !important;
}
.cta-light .sButton {
  border: 2px solid var(--primaryColor) !important;
  color: var(--primaryColor) !important;
}

/* footer  */

#footer {
  background-color: var(--primaryColor);
  color: #fff;
  text-align: center;
}

#footer .top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.top-left {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.top-right {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

#footer .top a {
  color: #fff;
  text-decoration: none;
}
#footer .mid {
  margin-top: 1.5rem;
}

#footer .bottom {
  margin-top: 1.5rem;
}

#footer .mid i {
  margin: 0 10px;
}

/* media  */

@media (max-width: 1024px) {
  .cta .pButton {
    padding: 0.5rem 3.5rem;
    margin: 1rem 0;
  }
}

@media (max-width: 786px) {
  #hero {
    text-align: center;
  }
  .hero-title {
    margin-top: 2rem;
  }
  #about .row h2 {
    margin-top: 2rem;
  }
  #about {
    text-align: center;
  }
  .cta {
    text-align: center;
  }
  .cta .pButton {
    padding: 0.5rem 2rem;
    margin: 1rem 0rem;
  }
  .cta .sButton {
    padding: 0.5rem 2rem;
  }
  .top-left {
    display: flex;
    flex-direction: column;
  }
  .top-right {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 280px) {
  .logo {
    display: none;
  }
}
